<div class="navbar">
  <p>Simple Airbnb</p>
  <%= link_to "Add flat", class: "button" %>
</div>

<h1>All flats currently available</h1>
<% @flats.each do |flat| %>
  <div class="card">
    <p><%= flat.name %></p>
    <p><%= flat.address %></p>
    <p><%= flat.price_per_night %>€</p>
    <p><%= flat.number_of_guests %>p</p>
  </div>
<% end %>
